:root {
    --BGPrimary: #292929;
  --BGSecondry:  #252525;
  --FontColorMain: white;
  --BlockMainColor: #1e1e1e;
  --FGPrimary: #ff9d43;
  --BTNColor: #1e1e1e;
  --IconsBGGradient: linear-gradient(270deg, #585757 0%, #6b6b6b 100%);
  --SliderIcon: -webkit-linear-gradient(
    137.37deg,
    #ff9d43 3.83%,
    #ff4e43 92.95%
  );
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: var(--BlockMainColor);
}
h1{
    display: flex;
    flex-direction: row;
    color: var(--FontColorMain);
    font-size: 1.5rem;
    font-weight: 500;
}
h1::before, h1::after{
    content: '';
    flex: 1 1;
    border-bottom: 0.05rem solid var(--FontColorMain);
    margin: auto;
}
h1::before{
    margin-right: 10px;
}
h1::after{
    margin-left: 10px;
}
.Main{
    margin: 0 auto;
    width: 100%;
    margin-top: 4rem;
    max-width: 21rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Main img{
    margin-bottom: 4rem;
}
.Wrapper{
    border: 0.05rem  solid var(--FontColorMain);
    background-image:  linear-gradient(270deg, rgba(88, 87, 87, 0.1) 0%, rgba(107, 107, 107, 0.1) 100%);
    padding: 2rem;
    border-radius: 0.9rem;
}
.Block{
    margin-top: 1rem;
}
label{
    font-size: 1rem;
    color: var(--FontColorMain);
    font-weight: 400;
    font-size: 1rem;
}
input{
    border: 0.05rem solid var(--FontColorMain);
    outline: none;
    background-color: var(--BlockMainColor);
    width: 20rem;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    border-radius: 0.2rem;
    padding: 0.8rem 0.5rem;
    color: var(--FontColorMain);
}
.Description{
    font-size: 0.7rem;
    color: var(--FontColorMain);
    margin-top: 0.4rem;
    font-weight: 300;
}
.Center{
    text-align: center;
    margin-top: calc(1.5rem - 0.4rem);
}
.Register{
    background-image: var(--SliderIcon);
    padding: 0.8rem;
    margin-top: 1.5rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    color: var(--FontColorMain);
    font-weight: 600;
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 21rem;
}
.WrapperSwitch h6{
 color: var(--FontColorMain);
 font-size: 1.2rem;
 font-weight: 400;
}
.SwitchCase{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Switch{
    background-color: var(--BlockMainColor);
    font-size: 0.9rem;
    border: 0.05rem solid var(--FontColorMain);
    border-radius: 0.3rem;
    width: 10rem;
    color: var(--FontColorMain);
    padding: 0.8rem;
    cursor: pointer;
}
@media screen and (max-width: 350px){
    input{
        width: 10rem;
        font-size: 0.7rem;
        padding: 0.5rem 0.2rem;
    }
    label{
        font-size: 0.8rem;
    }
    .Main{
        max-width: 12rem;
    }
    .Register{
        width: 11rem;
    }
    .Switch{
        font-size: 0.8rem;
        width: 5rem;
        padding: 0.5rem;
    }
}

    

